@charset "utf-8";

*{
    /* margin: 0 auto; */
    padding: 0 auto;
    font-family:
    'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
}

.flex-wrapper-container{
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

.flex-wrapper-container{
    display: flex;
    max-width: 100%;
}

.flex-span-arrow{
    display: flex;
    /* order: 1; */
    /* display: none; */
    max-width: 100%;
    /* border: 1px solid black; */
    /* justify-content: center; */
    margin: 10px;
    /* align-items: center; */
}

.flex-span-arrow a{
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #000;
    transition: 0.5s ease;
}

.flex-span-arrow a:hover{
    border: 1px solid black;
    /* text-decoration: none; */
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.flex-span-arrow i{
    text-align: center;
}

.flex-jumbotron-contact{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.img-flex{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* flex: 1; */
    width: 100%;
    order: 1;
}

.img-flex img{
    display: flex;
    border-radius: 50%;
    box-shadow: 0 5px 8px 0 black;
    max-width: 70%;
}

.flex-contact-text{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex: 1; */
    width: 100%;
    order: 2;
}

.flex-contact-text span{
    line-height: 1.65;
}

.flex-contact-text h1{
    text-shadow: 2px 2px yellowgreen;
    color: orangered;
}

.flex-contact-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.flex-contact-logo img{
    margin: 10px;
    width: 20%;
}

.flex-contact-project-logo{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.flex-contact-project-logo img{
    width: 50%;
}

.flex-media-social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap
}

.flex-media-social i{
    display: flex;
    margin: 0 10px;
    font-size: 40px;
    cursor: pointer;
}

.flex-media-social-w-capt:nth-child(1) i{color: #0e76a8;}
.flex-media-social-w-capt:nth-child(2) i{color: #1da1f2;}
.flex-media-social-w-capt:nth-child(3) i{color: #3b5998;}
.flex-media-social-w-capt:nth-child(4) i{color: #4c5fd7;}
.flex-media-social-w-capt:nth-child(5) i{color: #25D366;}

.flex-media-social-w-capt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}
/* Responsive Breakpoint */
@media (max-width: 768px){
    .flex-jumbotron-contact{
        flex-direction: column;
    }

    .flex-media-social{
        margin: 10px 0;
    }

    .img-flex{
        width: 40%;
    }
    
    .flex-contact-text span{
        line-height: 1.65;
    }
}

@media (max-width: 426px){
    .img-flex{
        width: 100%;
    }

    .flex-contact-logo img{
        width: 30%;
    }

    .flex-contact-project-logo img{
        width: 80%;
    }
    
    .flex-contact-text span{
        line-height: 1.65;
    }
}
