@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family:
    'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
}

body{
/*     width: 70%; */
    margin: 0 auto;
    /* transition: 0.5s; */
    background-color: #f7f7f7;
    background-image: url(../img/photo.jpg);
    background-size: 75% 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -30px;
    background-position-y: 35px;
}

a{
    text-decoration: none;
    transition: 0.5s ease;
}

input[type=checkbox]{
    display: none;
}


#toggle-flex-sidebar-list{
    /* display: flex; */
    display: none;
}

#flex-toggle{
    display: none;
    cursor: pointer;
}

#toggle-navbar{
    /* display: flex; */
    cursor: pointer;
    display: none;
}

/* .flex-navbar,
.flex-navbar-logo,
.flex-navbar > ul, li{ 
    border: 1px solid black;
} */

.flex-wrapper-container{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    flex-direction: column;
}

/* NAVBAR FLEX */
.flex-navbar{
    display: flex;
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
    /* background-color: #fff; */
    background-color: transparent;
    /* justify-content: center; */
    align-items: center;
}

.flex-navbar-logo{
    display: flex;
    align-items: center;
    padding: 10px;
    flex: 1;
    /* max-width: 20%; */
    margin: 0 auto;
}

.flex-navbar-logo img{
    width: 10%;
    margin: 0 10px;
}

.flex-navbar li{
    display: inline-flex;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    margin: 10px;
    /* background-color:#000; */
    /* border-radius: 4px; */
}

.flex-navbar a{
    color: #000;
}

.flex-navbar a:hover{
    color: blue;
}

/* FLEX JUMBOTRON */
.flex-jumbotron{
    display: flex;
    /* border: 1px solid black; */
    /* padding: 50px 50px;  */
    max-width: 100%;
    /* margin: 0 auto; */
    height: 600px;
}

.flex-jumbotron-content{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    max-width: 40%;
    margin: 0 0 0 50%;
    padding: 6% 0;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* background-color: #000; */
    /* color: #fff */
}

.flex-jumbotron-content img{
    width: 50%;
    margin: 20px 0;
}

.flex-jumbotron-content span{
    display: flex;    
    font-size: 20px;
    letter-spacing: 5px;
}

/* CONTAINER & SIDEBAR FLEX */
.flex-wrapper{
    display: flex;
    max-width: 100%;
    flex-flow: row wrap;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 8px 0 black;
}

.flex-wrapper > *{
    padding: 15px;
    margin: 5px;
}

/* LAYOUT FLEX */
.flex-main-content,
.flex-sidebar{
    display: flex;
}
.flex-main-content{
/*     max-width: 100%; */
    flex-direction: column;
    flex: 3;
    order: 2;
}

.flex-sidebar{
    flex-direction: column;
    flex: 1;
    order: 1;
}
/* END */

/* CARD FLEX */
.flex-card{
    display: block;
    /* border: 1px solid black; */
    max-width: 100%;
    margin: 10px 0 10px 0;
    /* padding: 5px; */
    box-shadow: 2px 1px 5px 0 black;
    border-radius: 5px;
}

.flex-card-header{
    display: block;
    /* border: 1px solid black; */
    /* margin: 10px 0 0 0; */
    padding: 5px;
    max-width: 50%;
    background-color: #000;
    color: #fff;
    border-radius: 5px 0 15px 0;
    font-size: 20px;
    font-weight: bolder;
}

.flex-card-body{
    /* display: block; */
    /* display: flex; */
    /* border: 1px solid black; */
    padding: 5px;
}

ol{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3%;
    padding: 20px;
}
/* END FLEX CARD */

.flex-sidebar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    /* border: 1px solid black; */
    /* margin: 10px 0 0 0; */
    /* padding: 10px; */
}

.flex-sidebar-list a{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 10px;
    /* max-width: 100%; */
    width: 100%;
    transition: 0.5s ease;
    text-decoration: none;
    color: #000;
}

.flex-sidebar-list a:hover{
    background-color: #000;
    color: #fff;
}

#flex-toggle{
    float: right;
}

/* TABLE FLEX */
td{
    padding: 10px;
}

.table-flex{
    /* display: block; */
    display: flex;
    /* flex-flow: row wrap; */
    max-width: 100%;
    /* justify-items: inherit; */
    /* border: 1px solid black; */
    padding: 15px;
}

.table-flex td:nth-child(1){
    vertical-align: text-top;
}
/* END */

/* Responsive Breakpoint */
@media (max-width: 1441px){
    .flex-wrapper-container{
        display: flex;
        max-width: 90%;
    }
    body{
        background-size: 90% 1500px;
        background-position-x: -190px;
        background-position-y: 30px;
    }
    .flex-wrapper{
        display: flex;
        width: 100%;
    }
    .flex-sidebar-list{
        flex-direction: column;
    }
    .flex-jumbotron-content{
        max-width: 40%;
        margin: 0 0 0 50%;
        padding: 11% 0;
    }
}
@media (max-width: 1025px){
    .flex-wrapper-container{
        display: flex;
        max-width: 100%;
    }
    .flex-sidebar{
        display: flex;
        max-width: 100%;
    }
    .flex-sidebar-list{
        flex-direction: column;
    }
    body{
        background-size: 100% 1500px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: -220px;
        background-position-y: 5px;
    }
}
@media (max-width: 768px){
    .flex-wrapper{
        display: flex;
        flex-direction: column;
    }
    .flex-wrapper-container{
        max-width: 100%;
    }
    .flex-sidebar-list a{
        margin: 5px 5px;
    }
    .flex-sidebar{
        order: 1;
    }
    .flex-main-container{
        order: 2;
    }

    body{
        background-size: 100% 1500px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: -150px;
        background-position-y: 5px;
    }
    /* body{
        background-position-x: -200px;
        background-position-y: -60px;
    } */

    ul{
        display: none;
        /* display: flex; */
    }

    #check-navbar-flex:checked ~ ul{
        display: flex;
        /* display: none; */
        justify-content: center;
        flex-direction: row;
        position: absolute;
        width: 100%;
        top: 5.5%;
        left: 0;
        margin: 40px auto;
        /* z-index: 0; */
        background-color: #000;
        opacity: 0.9;
    }

    #check-navbar-flex:checked ~ li{
        margin: 10px;
    }

    .flex-navbar{
        background-color: #fff;
        opacity: 0.9;
    }

    .flex-navbar a{
        color: #fff;
    }

    #toggle-navbar{
        display: flex;
        margin-right: 20px; 
    }

    .flex-sidebar-list{
        display: none;
        /* display: flex; */
    }

    #flex-toggle{
        display: flex;
    }

    #toggle-flex-sidebar-list:checked ~ .flex-sidebar-list{
        display: flex;
        flex-direction: column;
        /* position: relative; */
        justify-content: center;
        /* margin: 0; */
    }

    .flex-sidebar-list a{
        margin: 5px 0;
        max-width: 96%;
    }
}

@media (max-width: 425px){
    body{
        background: #f7f7f7;
    }

    .flex-jumbotron{
        justify-content: center;
    }

    .flex-jumbotron-content{
        /* border: 1px solid black;         */
        justify-content: center;
        margin: 0;
        padding: 15px;
        max-width: 100%;
    }

    .flex-navbar{
        background: transparent;
    }

    .flex-jumbotron-content img{
        width: 70%;
    }
    
    .flex-card-header{
        background-color: #470b0b;
        max-width: 70%;
    }

    .table-flex{
        padding: 0;
    }

    .table-flex td{
        display: flex;
        flex-direction: column;
        margin: 5px auto;
        /* padding: 10px; */
    }
    
    .table-flex td:nth-child(1){
        background-color: #000;
        border-radius: 7px;
        color: #fff;
    }

    .table-flex td:nth-child(1),
    .table-flex td:nth-child(2){        
        width: 90%;
    }

    .flex-card:nth-child(2)
    .table-flex td{
        margin: 10px 20px;
        width: 100%;
    }

    #check-navbar-flex:checked .flex-navbar{
        display: flex;
        flex-direction: column;
    }

    #check-navbar-flex:checked ~ ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 6%;
        left: 0;
        /* margin: 40px auto; */
        /* z-index: 0; */
        background-color: #000;
    }

    .flex-navbar-logo img{
        width: 20%;
    }
}

@media (max-width: 321px){
    .flex-navbar-logo img{
        width: 25%;
    }
}
